:root {
    --primary-color: #6DBDBE;
    --secondary-color: #4357AD;
    --box-color: #FFFFFF;
    --item-color: #e3f2f2;
    --drop-shadow-color: #000000;
}


body {
   background-color: var(--primary-color);
}

.overlay-text {
  align-self: flex-start;
  transform: translateY(-20%);

  padding:20px;
}

.divider {
    min-height: 10vh;
}

.project-box {
    background-color: var(--box-color);
    filter: drop-shadow(20px 20px 0px #000000);
    border-color: var(--box-color);
    border-width: 2px;
    border-radius: 50px;
    height: 505px;
}

@media screen and (max-width: 600px) {
   .project-box {
      height: 400px;
   }
}


.character-dropshadow {
    filter: drop-shadow(20px 20px 0px #000000);
}

.video-wrap {
    border-radius: 0 50px 50px 0;
}

.ignore-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dialog-textbox {
    width: 675px;
    height: 175px;
    align-self: flex-start;
    transform: translateY(-340px);
}

.dialog-text {
    font-size: 25px;
    letter-spacing: 0em;
}

.tech-stack {
  background-color: var(--item-color);
  border-radius: 4px;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.section-divider {
  height: 10px;
  width: 200px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.slide-right {
	animation: slide-right 1.5s ease-in-out infinite ;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
