<nav class="navbar navbar-dark bg-dark navbar sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Isaiah N</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_me') }}">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('skills') }}">Technical Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#featured-work">Featured Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:rinriukato@gmail.com?subject='Contact from Portfolio Website'">Contact
                        Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>